/*====================================
	CUSTOM STYLES
======================================*/

/* text color */
.red-txt {
	color: #F00;
}

.green-txt {
	color: #008000;
}

/* list styles  */

.numeric li {
	list-style-type: lower-hexadecimal;
}


a {
	text-decoration: underline !important;
}

/* alignments */

.align-left {
	text-align: left;
}

/* colors */

.link-black {
	color: #212121;
}


.contrib {
	display: inline-block;
  margin-top: -30px;
  position: relative;
  top: -35px;
  right: -25px;
}

.contrib-2 {
	position: relative;
  left: -10px;
}